# Requirements for sql in kaggle

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (3.3.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (7.33.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (1.4.36)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.7/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (59.8.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.2.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.2.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: There was an error checking the latest version of pip.

In [2]:
%%capture
%load_ext sql
%sql sqlite:////kaggle/input/cia-factbook-data/factbook.db

## First table view

In [3]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [4]:
%%sql
SELECT * FROM facts LIMIT 5

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

|Column||Description|
|------||-----------|
|name||The name of the country.|
|area||The country's total area (both land and water).|
|area_land||The country's land area in square kilometers.|
|area_water||The country's waterarea in square kilometers.|
|population||The country's population.|
|population_growth||The country's population growth as a percentage.|
|birth_rate||The country's birth rate, or the number of births a year per 1,000 people.|
|death_rate||The country's death rate, or the number of death a year per 1,000 people.|

## Data anomalies

In [5]:
%%sql

SELECT Min(population), 
       Max(population), 
       Min(population_growth), 
       Max(population_growth) 
FROM   facts

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

#### Country with no population at all (min population in the table)

In [6]:
%%sql
SELECT name, 
       population 
FROM   facts 
WHERE  population = (SELECT Min(population) FROM   facts)

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[('Antarctica', 0)]

In [7]:
%%sql
select MIN(population), MAX(population), MIN(population_growth), MAX(population_growth) 
FROM facts

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

In [8]:
%%sql
SELECT * from facts
WHERE population == (SELECT MIN(population) FROM facts)

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

In [9]:
%%sql
SELECT * from facts
WHERE population == (SELECT MAX(population) FROM facts)

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

## Data Analisys 
* Average of population and area

In [10]:
%%sql
SELECT AVG(population),
       AVG(area)  
FROM facts

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(62094928.32231405, 555093.546184739)]

* Which countries population and are are bigger than average?

In [11]:
%%sql 
SELECT * FROM facts
WHERE population > (SELECT AVG(population) FROM facts) 
AND area > (SELECT AVG(area) FROM facts)

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(24, 'br', 'Brazil', 8515770, 8358140, 157630, 204259812, 0.77, 14.46, 6.58, 0.14),
 (37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44),
 (40, 'cg', 'Congo, Democratic Republic of the', 2344858, 2267048, 77810, 79375136, 2.45, 34.88, 10.07, 0.27),
 (53, 'eg', 'Egypt', 1001450, 995450, 6000, 88487396, 1.79, 22.9, 4.77, 0.19),
 (58, 'et', 'Ethiopia', 1104300, None, 104300, 99465819, 2.89, 37.27, 8.19, 0.22),
 (61, 'fr', 'France', 643801, 640427, 3374, 66553766, 0.43, 12.38, 9.16, 1.09),
 (77, 'in', 'India', 3287263, 2973193, 314070, 1251695584, 1.22, 19.55, 7.32, 0.04),
 (78, 'id', 'Indonesia', 1904569, 1811569, 93000, 255993674, 0.92, 16.72, 6.37, 1.16),
 (79, 'ir', 'Iran', 1648195, 1531595, 116600, 81824270, 1.2, 17.99, 5.94, 0.07),
 (114, 'mx', 'Mexico', 1964375, 1943945, 20430, 121736809, 1.18, 18.78, 5.26, 1.68),
 (129, 'ni', 'Nigeria', 923768, 910768, 13000, 181562056, 2.45, 37.64, 12.9, 0.22),
 (132, 'pk', 'Pakistan', 796095, 770875, 25220, 199085847, 1.46, 22.58, 6.49, 1.54),
 (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69),
 (179, 'tu', 'Turkey', 783562, 769632, 13930, 79414269, 1.26, 16.33, 5.88, 2.16),
 (186, 'us', 'United States', 9826675, 9161966, 664709, 321368864, 0.78, 12.49, 8.15, 3.86),
 (197, 'ee', 'European Union', 4324782, None, None, 513949445, 0.25, 10.2, 10.2, 2.5)]

* Which countries have the highest ratios of water to land?

In [12]:
%%sql
SELECT * FROM facts
WHERE area_water > (SELECT AVG(area_water) FROM facts)
ORDER BY area_water DESC
LIMIT 20

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(32, 'ca', 'Canada', 9984670, 9093507, 891163, 35099836, 0.75, 10.28, 8.42, 5.66),
 (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69),
 (186, 'us', 'United States', 9826675, 9161966, 664709, 321368864, 0.78, 12.49, 8.15, 3.86),
 (77, 'in', 'India', 3287263, 2973193, 314070, 1251695584, 1.22, 19.55, 7.32, 0.04),
 (37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44),
 (24, 'br', 'Brazil', 8515770, 8358140, 157630, 204259812, 0.77, 14.46, 6.58, 0.14),
 (79, 'ir', 'Iran', 1648195, 1531595, 116600, 81824270, 1.2, 17.99, 5.94, 0.07),
 (58, 'et', 'Ethiopia', 1104300, None, 104300, 99465819, 2.89, 37.27, 8.19, 0.22),
 (38, 'co', 'Colombia', 1138910, 1038700, 100210, 46736728, 1.04, 16.47, 5.4, 0.64),
 (78, 'id', 'Indonesia', 1904569, 1811569, 93000, 255993674, 0.92, 16.72, 6.37, 1.16),
 (40, 'cg', 'Congo, Democratic Republic of the', 2344858, 2267048, 77810, 79375136, 2.45, 34.88, 10.07, 0.27),
 (172, 'tz', 'Tanzania', 947300, 885800, 61500, 51045882, 2.79, 36.39, 8.0, 0.54),
 (9, 'as', 'Australia', 7741220, 7682300, 58920, 22751014, 1.07, 12.15, 7.14, 5.65),
 (228, 'io', 'British Indian Ocean Territory', 54400, 60, 54340, None, None, None, None, None),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (7, 'ar', 'Argentina', 2780400, 2736690, 43710, 43431886, 0.93, 16.64, 7.33, 0.0),
 (168, 'sw', 'Sweden', 450295, 410335, 39960, 9801616, 0.8, 11.99, 9.4, 5.42),
 (60, 'fi', 'Finland', 338145, 303815, 34330, 5476922, 0.4, 10.72, 9.83, 3.1),
 (191, 've', 'Venezuela', 912050, 882050, 30000, 29275460, 1.39, 19.16, 5.31, 0.0),
 (132, 'pk', 'Pakistan', 796095, 770875, 25220, 199085847, 1.46, 22.58, 6.49, 1.54)]

* Which countries have more water than land?

In [13]:
%%sql
SELECT * FROM facts
WHERE area_water > area_land

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(228, 'io', 'British Indian Ocean Territory', 54400, 60, 54340, None, None, None, None, None),
 (247, 'vq', 'Virgin Islands', 1910, 346, 1564, 103574, 0.59, 10.31, 8.54, 7.67)]

* Which countries will add the most people to their population next year?

In [14]:
%%sql
SELECT   name, 
         CAST(population/100 * population_growth AS int) AS absolute_growth 
FROM     facts 
WHERE    name <> 'World' 
ORDER BY absolute_growth DESC 
LIMIT    10

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[('India', 15270685),
 ('China', 6153683),
 ('Nigeria', 4448269),
 ('Pakistan', 2906652),
 ('Ethiopia', 2874561),
 ('Bangladesh', 2703323),
 ('United States', 2506676),
 ('Indonesia', 2355141),
 ('Congo, Democratic Republic of the', 1944689),
 ('Philippines', 1626072)]

* Which countries have a higher death rate than birth rate

In [15]:
%%sql
SELECT * FROM facts 
WHERE death_rate > birth_rate
ORDER BY death_rate DESC
LIMIT 10

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[(183, 'up', 'Ukraine', 603550, 579330, 24220, 44429471, 0.6, 10.72, 14.46, 2.25),
 (26, 'bu', 'Bulgaria', 110879, 108489, 2390, 7186893, 0.58, 8.92, 14.44, 0.29),
 (96, 'lg', 'Latvia', 64589, 62249, 2340, 1986705, 1.06, 10.0, 14.31, 6.26),
 (102, 'lh', 'Lithuania', 65300, 62680, 2620, 2884433, 1.04, 10.1, 14.27, 6.27),
 (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69),
 (153, 'ri', 'Serbia', 77474, 77474, 0, 7176794, 0.46, 9.08, 13.66, 0.0),
 (16, 'bo', 'Belarus', 207600, 202900, 4700, 9589689, 0.2, 10.7, 13.36, 0.7),
 (75, 'hu', 'Hungary', 93028, 89608, 3420, 9897541, 0.22, 9.16, 12.73, 1.33),
 (116, 'md', 'Moldova', 33851, 32891, 960, 3546847, 1.03, 12.0, 12.59, 9.67),
 (57, 'en', 'Estonia', 45228, 42388, 2840, 1265420, 0.55, 10.51, 12.4, 3.6)]

* What country has the highest growth rate?

In [16]:
%%sql


SELECT name, 
       population_growth 
FROM   facts 
WHERE  population_growth = (SELECT Max(population_growth) 
                            FROM   facts 
                            WHERE  population != (SELECT Max(population) 
                                                  FROM   facts))

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[('South Sudan', 4.02)]

* Population is more than average AND area is less than average

In [17]:
%%sql

SELECT name, 
       population, 
       area 
FROM   facts 
WHERE  population > (SELECT Avg(population) 
                     FROM   facts 
                     WHERE  population != (SELECT Max(population) 
                                           FROM   facts)) 
       AND area < (SELECT Avg(area) 
                   FROM   facts 
                   WHERE  population != (SELECT Max(population) 
                                         FROM   facts)) 
LIMIT  10

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Iraq', 37056169, 438317),
 ('Italy', 61855120, 301340),
 ('Japan', 126919659, 377915),
 ('Kenya', 45925301, 580367),
 ('Korea, South', 49115196, 99720),
 ('Morocco', 33322699, 446550),
 ('Philippines', 100998376, 300000),
 ('Poland', 38562189, 312685)]

* What country has the most people?

In [18]:
%%sql


SELECT name, 
       population 
FROM   facts 
WHERE  population = (SELECT Max(population) 
                     FROM   facts 
                     WHERE  population != (SELECT Max(population) 
                                           FROM   facts))

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
Done.

[('China', 1367485388)]

* Finding the Most Populous Capital Cities

In [19]:
%%sql

SELECT * FROM facts
INNER JOIN cities ON facts.id == cities.facts_id
LIMIT 10

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
(sqlite3.OperationalError) no such table: cities
[SQL: SELECT * FROM facts
INNER JOIN cities ON facts.id == cities.facts_id
LIMIT 10]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [20]:
%%sql 
SELECT C.NAME capital_city, F.NAME country, C.population 
FROM facts f
INNER JOIN  cities c ON c.facts_id == f.id
WHERE c.capital == 1
ORDER BY c.population DESC
LIMIT 10

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
(sqlite3.OperationalError) no such table: cities
[SQL: SELECT C.NAME capital_city, F.NAME country, C.population
FROM facts f
INNER JOIN  cities c ON c.facts_id == f.id
WHERE c.capital == 1
ORDER BY c.population DESC
LIMIT 10]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [21]:
%%sql

SELECT 
    f.name country, 
    c.urban_pop, 
    f.population total_pop, 
    c.urban_pop / CAST(f.population AS float) urban_pct
FROM facts f

INNER JOIN (
            SELECT 
                facts_id,
                SUM(population) urban_pop
            FROM
                cities
            GROUP BY facts_id
            ) c ON c.facts_id == f.id
WHERE urban_pct > .5
ORDER BY urban_pct

 * sqlite:////kaggle/input/cia-factbook-data/factbook.db
(sqlite3.OperationalError) no such table: cities
[SQL: SELECT
    f.name country,
    c.urban_pop,
    f.population total_pop,
    c.urban_pop / CAST(f.population AS float) urban_pct
FROM facts f

INNER JOIN (
            SELECT
                facts_id,
                SUM(population) urban_pop
            FROM
                cities
            GROUP BY facts_id
            ) c ON c.facts_id == f.id
WHERE urban_pct > .5
ORDER BY urban_pct]
(Background on this error at: https://sqlalche.me/e/14/e3q8)